.todoli {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr; */
  width: 100px;
  align-items: center;
  background-color: grey;
  border-color: grey;
}

.tododiv {
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

.todoContent {
  margin-left: 20px;
  margin-top: 17px;
}

ul {
  list-style-type: none;
}

.addTodo {
  display: flex;
  margin-left: 26%;
  margin-right: 26%;
}

@media (max-width: 500px) {
  .addTodo {
    display: block;
    align-items: center;
  }

  .addTodoButton {
    margin-left: 40%;
    margin-top: 10%;
  }
}
