.todoli {
  display: flex;
  justify-content: center;
  background-color: grey;
  border-color: grey;
}

.tododiv {
  text-align: center;
}

ul {
  list-style-type: none;
}

.addTodo {
  display: flex;
  margin-left: 500px;
  margin-right: 500px;
}
